@import url("hover-min.css");
body {
  font-family: 'Lora', serif;
  text-align: center;
  padding-top: 3%;
  background-color: #0081AB;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

strong {
  font-weight: bold;
}

.display-3 {
  color: #2E5894;
  font-weight: normal;
  font-size: 7.5vmin !important;
}

.display-5 {
  color: #2E5894;
  font-weight: normal;
  font-size: 3vmin !important;
}

.lead {
  color: #676767;
  font-size: 2.5vmin !important;
}

.lead2 {
  color: #676767;
  font-size: 1.7vmin !important;
  vertical-align: middle;
  margin: : 0px !important;
}

.btn {
  font-size: 2vmin !important;
  font-family: 'Montserrat', serif !important;
}

.list-group-item {
  font-size: 1.8vmin !important;
}

.verticalauto {
  padding-left: 0;
  padding-right: 0;
}

.row {
  padding-right: 0 !important;
  margin: 0 !important;
}

.card {
  margin-bottom: 0 !important;
}

.frame {
  margin: 0;
  width: 30vw;
  height: 50vh;
  margin-top: 20px;
}

/* Gradient color1 - color2 - color1 */
hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

p {
  color: #00416d;
  font-family: 'Lora', serif;
}

.video {
  padding: 30px;
}

.modal-body {
  background-color: #e5e5e5;
  padding: 0;
}

.row {
  padding: 1%;
}

/* Containers */
.container-fluid {
  padding: 3% 15%;
}

/* Sections */
.colored-section {
  background: linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%);
  color: #fff;
}

/* Navigation Bar */
.navbar-collapse {
  text-align: right;
}

.navbar-toggler {
  font-size: 1vmin !important;
}

.navbar-toggler-icon {
  background-size: cover;
  font-size: 3vmin !important;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 3.5vmin !important;
}



.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  text-shadow: 0 0 10px, 0 0 5px white;
  font-size: 1.5vmin !important;
  color: white !important;
}

.nav-link:hover {
  color: #ee8374!important;
}

/* About section */
#about {
  position: relative;
  background: url("../images/wall3.png");
  background-size: cover;
  padding: 10% 10% 20% 10%;
}

/* Title Section */
#title {
  background-color: : #0081AB;
  text-align: center;
  align-items: center;
}

.smart-scroll {
  background-color: #0081AB !important;
  padding: 1% 5% 1% 5%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  font-size: 3.5vmin !important;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.sinpackNavbar {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10%;
  padding-right: 10%;
}

#techbar1 {
  padding-top: 1%;
  padding-bottom: 1%;
  background: #dbe3e5;
  -webkit-box-shadow: 0 0 38px 0 rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 38px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 0 38px 0 rgba(0, 0, 0, 1);
  display: none;
  visibility: visible;
  position: fixed;
  z-index: 600;
  font-weight: normal;
  color: black;
  font-size: 2.5vmin !important;
}

.techbar2 {
  font-weight: normal;
  color: black;
  font-size: 2.5vmin !important;
}

/* SECTION JUMBO PROMO */
.sinpack-promo {
  position: relative;
  background-color: black;
  height: calc(100vh - 72px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  padding-top: 20%;
  color: white;
  text-align: left;
  border-radius: 0;
}

.videofont {}

.lead {
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: lighter;
}

.jumbotron {
  margin: 0;
}

.video-background-content {
  position: relative;
  z-index: 2;
  padding-right: 1%;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 30%;
  z-index: 1;
}

/* Style the video: 100% width and height to cover the entire window */
#video-promo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* Style the button used to pause/play the video */
#btn-promo {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#btn-promo:hover {
  /* background: #ddd;
  color: black; */
}

/* Carousel section */
#carousel {
 color: grey;
  font-weight: bolder;
  padding: 20% 10% 20% 10%;
  background: url("../images/wall2.jpg");
  background-size: cover;
}

.carouselfont {
  font-size: 1.5rem;
  font-family: inherit;
  color: white;
  font-weight: normal;
}

.carousel-item {
  padding: 0;
}

.carouselfluid {
  padding: 2% 0 2% 0;
}

.carouselfluid2 {
  padding: 2% 1% 2% 1%;
}

.carousel-control-prev {
  padding-right: 10%;
}

.carousel-control-next {
  padding-left: 10%;
}

.carousel-image {
  position: relative;
  /* -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1); */
  width: 100%;
  height: 30vw;
  object-fit: cover;
  border-radius: 10px;
  padding: 5px;
}

/* Profile section */
#profile {
  position: relative;
  background: url("../images/wall3.png");
  background-size: cover;
  padding: 5% 10% 10% 10%;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}

.timeline>li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline>li:after, .timeline>li:before {
  display: table;
  content: " ";
}

.timeline>li:after {
  clear: both;
}

.timeline>li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline>li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.underline {
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.85;
  /* text-shadow:
    2px 2px white,
    2px -2px white,
    -2px 2px white,
    -2px -2px white; */
}

.timeline>li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 10px;
  width: 60px;
  height: 60px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.timeline>li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body>ul,
.timeline .timeline-body>p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }

  .timeline>li {
    min-height: 100px;
    margin-bottom: 100px;
  }

  .timeline>li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }

  .timeline>li .timeline-image {
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
  }

  .timeline>li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline>li {
    min-height: 150px;
  }

  .timeline>li .timeline-panel {
    padding: 0 20px 20px;
  }

  .timeline>li .timeline-image {
    width: 130px;
    height: 130px;
    margin-left: -65px;
  }

  .timeline>li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline>li {
    min-height: 170px;
  }

  .timeline>li .timeline-panel {
    padding: 0 20px 20px 60px;
  }

  .timeline>li .timeline-image {
    width: 130px;
    height: 130px;
    margin-left: -65px;
  }

  .timeline>li .timeline-image h4 {
    margin-top: 40px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 60px 20px 20px;
  }
}

.page-section {
  padding: 6rem 0;
}

.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}
/* whoWeAre Section */
#whoWeAre {
  position: relative;
  background: url("../images/wall3.png");
  background-size: cover;
  padding: 20% 10% 20% 10%;
}

.who-title {
  font-size: 7.5vmin !important;
  font-family: inherit;
  font-weight: bold;
  color: #00416d;
}

.who-title2 {
  font-size: 3.5vmin !important;
  font-family: inherit;
  font-weight: normal;
  color: #40a8c4;
}

.who-title3 {
  font-size: 2.5vmin !important;
  font-family: inherit;
  font-weight: normal;
  word-wrap: normal;
  color: #07689f;
}

.feature-box {
  padding: 2.5%;
}

/* PRODUCTS SECTION */
#products {
  /* background: #dae3e5; */
  padding: 20% 0 20% 0;
  background: url("../images/wall7.jpg");
  background-size: cover;
  transform: scale(1);
  position: relative;
  overflow: hidden;
}

#products::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: url("../images/wall7.jpg");
  transform: scale(0.5);
  background-size: cover;
}

.hoverclass {
  padding: 50px;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  transition: transform 0.8s;
  /* Animation */
  border-radius: 20px;
  margin: 0 auto;
}

.hoverclass:hover {
  transform: scale(1.05);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  z-index: 1;
}

.card-img-top {
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.varelaki3d {
  transform: scale(1.3);
}

.card-img-top2 {
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  width: 70%;
  height: 25vw;
  object-fit: cover;
  border-radius: 10px !important;
}

.card-img-bottom {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  border-radius: 10px !important;
}

.card-img-top3 {
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.card-img-top4 {
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  width: 80%;
  height: 20vw;
  object-fit: cover;
}

.modal-title {
  font-size: 4.5vmin !important;
}

.d-block {
  font-size: 2.5vmin !important;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  max-width: 100% !important;
  height: auto !important;
  object-fit: cover;
  display: inline !important;
}

.d-block2 {
  font-size: 2.5vmin !important;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  max-width: 100% !important;
  height: 35vw !important;
  object-fit: cover;
  display: inline !important;
}

.d-block3 {
  font-size: 2.5vmin !important;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  width: 50% !important;
  height: 30vw !important;
  object-fit: cover;
  display: inline !important;
}

.card-title {
  font-size: 1rem;
  font-family: inherit;
  font-weight: normal;
  word-wrap: normal;
}

.card-header {
  color: #2E5894 !important;
  font-weight: normal !important;
  font-size: 3.5vmin !important;
  font-family: 'Montserrat', sans-serif !important;
}

/* WHY US SECTION  */
#whyUs {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  padding: 10% 10% 10% 10%;
}

.whyusback {
  background-color: #f8f9fa !important;
}

/* SERVICE SECTION  */
#service {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  padding: 10% 10% 10% 10%;
  background: url("../images/service1.jpg");
  background-size: cover;
}

.jumboservice {
  border-radius: 10px;
  /* background: url("../images/service3.jpg"); */
  transform: scale(1);
  position: relative;
  overflow: hidden;
}

.jumboservice::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -20%;
  left: -50%;
  z-index: -1;
  background: url("../images/service3.jpg");
  transform: scale(0.8);
  background-size: cover;
  opacity: 40%
}

.service-style {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.servicecol {
  padding: 0;
  min-height: 15em !important; // this is it
}

.list-group-item {
  min-height: 4em; // this is it
}

/* Contact Section */
#contact-form {
  padding: 5% 10% 5% 10%;
}

#contact {
  background: url("../images/wall2.jpg");
  background-size: cover;
  padding: 5% 10% 5% 10%;
}

.contactbox {
  opacity: 80%;
  border-radius: 20px;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.contact-font {
  font-size: 7.5vmin !important;
  line-height: 1.5;
  color: black;
  padding: 20px;
  font-weight: bolder;

}

.contact-font2 {
  font-size: 2.5vmin !important;
  line-height: 1.5;
  color: black;
  font-weight: bold;
  font-family: 'Montserrat', serif;
}

.contact-font3 {
  color: grey;
  padding: 20px;
  font-size: 5.5vmin !important;
  font-family: 'Montserrat', serif;
}

.contact-font4 {
  font-weight: bold;
  font-size: 2.5vmin !important;
  line-height: 1.5;
  color: #e15f41;
  font-family: 'Montserrat', serif;
}

.contact-font4:hover {
  color: white;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Footer Section */
.footer {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  font-weight: lighter;
  font-size: 1.5vmin;
}

.footer-link {
  color: black;
}

.footer-link:hover {
  color: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.logo-image {
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  padding: 5px;
}

.footer-image {
  position: relative;
  /* -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1); */
  width: 10vw;
  height: 12vh;
  object-fit: cover;
  border-radius: 10px;
  padding: 5px;
}

.social-icon {
  margin: 20px 10px;
}

/*
Extra small devices (portrait phones, less than 544px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/
h1 {
  font-size: 1rem;
}

/*1rem = 16px*/
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }

  /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }

  /*1rem = 16px*/
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width */
@media (min-width: 950px) and (max-width:1100px) {
  h1 {
    font-size: 2.75rem;
    color: red;
  }
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

@media(hover: hover) and (pointer: fine) {}
